@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Container styling */
.Home {
  position: relative;
  background-image: url('../../assets/P13.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.separator {
  font-family: 'Orbitron';
  z-index: 2;
}

.separator1 {
  font-family: 'Poppins';
  z-index: 2;
}

.Register {
  font-family: 'Orbitron';
  color: white;
  background-color: #8521c4;
  padding: 10px;
  border: 4px solid #ffba72;
  border-radius: 10px;
}

.Register:hover {
  color: white;
  background-color: #6e21b3;
  padding: 10px;
  border: 4px solid #ffba72;
  border-radius: 10px;
}

.card {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: auto;
  height: auto;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.watchlive {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/SkirtWatchlive.jpg');
  background-size: cover;
  background-position: center;
  border: 5px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.animation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes drop {
  from {
    width: 1px;
    height: 1px;
  }
  to {
    width: 100px;
    height: 100px;
  }
}

.animation::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: drop 1.5s infinite;
}

.youtube {
  background-color: #8521c4;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  border: 5px solid #ffba72;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure YouTube icon is above the animation */
}

.youtube:hover {
  cursor: pointer;
  background-color: #6e21b3;
}
.l{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8521c4;
  padding-top: 5px;
  height: 54.5px;
  width: 200px;
  text-align: center;
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);
}
  .matches{
    background-color: #09002a;
    border: 3px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 800px;
    border-radius: 8px;
  }
  .match{
    transition: color 0.3s ;
    cursor: pointer;
  }
  .match:hover{
  color: #9344c8;
  }
  .Y{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b154f0;
    width: auto;
    padding:10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ;

  }
  .Y:hover{
    background-color: #6e21b3;
  }
  @media screen and (max-width:768px){
    .matches{
      width: 500px;
    }
  }