.Navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
    padding: 10px 0;
}

.Scrolled {
    background-color: rgba(11, 1, 48, 1);
}

.Hamburger {
    position: absolute;
    top: 24px;
    right: 40px;
}

.Content {
    right: 10px;
}

.Signup {
    color: white;
    background-color: #8521c4;
    padding: 10px;
    border: 4px solid #ffba72;
    border-radius: 10px;
}

.Signup:hover {
    color: white;
    background-color: #6e21b3;
    padding: 10px;
    border: 4px solid #ffba72;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .Navbar {
        justify-content: space-between;
    }
}
